<%- include('partials/header') %>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to The Beatles Fan Page</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The Beatles were an English rock band formed in Liverpool in 1960. Use the navigation bar above to learn more about each member.</p>
    </div>
</div>

</body>
</html>