<%- include('partials/header') %>

<div class="p-5 mb-4 bg-light rounded-3">
    <h1>John Lennon</h1>
    <p class="lead">The rhythm guitarist and co-lead vocalist. Known for his songwriting partnership with Paul McCartney.</p>
</div>

</body>
</html>