<%- include('partials/header') %>

<div class="p-5 mb-4 bg-light rounded-3">
    <h1>Paul McCartney</h1>
    <p class="lead">The bassist and co-lead vocalist. A melodic genius and one of the most successful composers of all time.</p>
</div>

</body>
</html>