<%- include('partials/header') %>

<div class="p-5 mb-4 bg-light rounded-3">
    <h1>Ringo Starr</h1>
    <p class="lead">The drummer. Known for his unique drumming style and easy-going personality.</p>
</div>

</body>
</html>